Shalaka/pipeline/plArrayIntoStringAppendAndSetVariable.json
{
	"name": "plArrayIntoStringAppendAndSetVariable",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Inputforeachloop_array",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set FileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TempVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileNames",
								"value": {
									"value": "@variables('tempVariable')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TempVariable",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempVariable",
								"value": {
									"value": "@concat(item().name,';',variables('FileNames'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "append",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "finalArray",
								"value": {
									"value": "@variables('append')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "UsingJoinArrayToString",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ArrayToString",
					"value": {
						"value": "@join(variables('append'),',')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FileNames": {
				"type": "String"
			},
			"tempVariable": {
				"type": "String"
			},
			"append": {
				"type": "Array"
			},
			"finalArray": {
				"type": "Array"
			},
			"ArrayToString": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-04-27T03:22:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}